@import url('https://fonts.googleapis.com/css?family=Oswald:400,600');
* {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: 'Oswald', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    background-color: rgba(2, 6, 47, .85);
}

.navbar {
    height: 100vh;
    width: 15vw;
    background-color: none;
    transition: all ease 1s;
    position: fixed;
    /*    z-index:-5;*/
}

.content {
    width: 85vw;
    height: auto;
    float: right;
    transition: all ease 1s;
    padding: 2vw 10vw 5vw 10vw;
}

.icons {
    height: 100vh;
    width: 15vw;
    background-color: black;
    position: absolute;
    top: 0%;
    left: 0%;
}

.sub_menu {
    height: 100vh;
    width: 15vw;
    background-color: black;
    z-index: -5;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: all ease 1s;
}

.icon {
    width: 5vw;
    height: auto;
}

#logo_menu {
    width: 15vw;
    fill: white;
}

#side_logo {
    position: fixed;
    right: 0;
    top: 7vh;
    width: 12vw;
    z-index: -1;
}


/* CLASS TO TOGGLE */

.expendIcons {
    width: 15vw;
}

.expend {
    width: 40vw;
}

.shorter {
    width: 60vw;
    float: right;
}

.hidden {
    width: 15vw;
}

.hide {
    display: none;
}

.display {
    display: block;
}

.big_content {
    width: 85vw;
    /*    float:right;*/
}

.show {
    display: block;
}

.fadeIn {
    animation: fadeInAnim 0.7s ease-in forwards;
}

.fadeOut {
    animation: fadeOutAnim 0.7s ease-in forwards;
}

@keyframes fadeInAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutAnim {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* STYLE */

.main_link {
    font-family: helvetica;
    font-size: 1em;
    color: white;
    text-decoration: none;
    font-weight: 900;
    line-height: 1.5em;
    display: block;
}

.sub_links {
    position: absolute;
    left: 40%;
    top: 10%;
}

.sub_links a {
    padding: 5px;
}

#main_links a {
    display: block;
    text-align: left;
    padding: 1vw;
}

#main_links {
    position: absolute;
    left: 10%;
    top: 30%;
    margin-left: 1vw;
    margin-top: 5vw;
}

#book_cont {
    margin-top: 35vh;
}

.cat {
    display: block;
    text-decoration: none;
}


/*//////////////////////////////////////////////////////////////////////////
//////////////////////////////FRONT PAGE/////////////////////////////////*/

h1 {
    text-align: center;
}


/*NAV*/

.top_menu {
    margin: 10px;
    display: block;
    text-align: center;
}

li {
    display: inline;
    list-style-type: none;
    padding: 1vw;
    margin-right: 8vw;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
    border-bottom: 1px solid white;
}


/*//////////////////////////////////////////////////////////////////////////
//////////////////////////////EVENTS /////////////////////////////////*/

.event {
    padding: 20px;
    margin: 10px;
    border: .5px solid white;
}

h1 {
    font-weight: 500;
}

h1.pagetitle {
    margin-left: 10px;
}

#eventlist {
    height: auto;
    display: grid;
    grid-gap: 3%;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
    grid-template-rows: repeat(auto-fill, 200px), fit-content(100%);
}

#venueList h1 {
    border-bottom: solid white 2px;
    width: 60vw;
}

.venuePost {
    padding: 2vw 1vw 5vw 1vw;
    margin-bottom: 60px;
}

#contactList h1 {
    border-bottom: solid white 2px;
    width: 60vw;
}

.contactPost {
    padding: 2vw 1vw 5vw 1vw;
    margin-bottom: 60px;
}


/*/////////////////SUBPAGES////////////////////////*/

#singleEvent {
    transition: all 0.3s;
    transform: translateX(-100vw);
    padding: 7vw;
}

#singleEvent.slideInEvent {
    transform: translateX(0)
}

#back_but {
    position: absolute;
    border: solid white 2px;
    padding: 8px;
    left: 5vw;
    top: 2vh;
    z-index: 5;
}


/*//////////////////////////////////////////////////////////////////////////
///////////////////////////////ANIMATIONS//////////////////////////////////*/


/*EVENTS*/

@keyframes fx {
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}
